<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="android:label,android:name"
        android:label="Movie Night Dev"
        android:name="io.flutter.app.FlutterApplication">
        <activity
            android:name="com.example.movie_night.MainActivity"
            tools:replace="android:configChanges"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|layoutDirection">
        </activity>
    </application>
</manifest>
